header {
  position: sticky;
  top: 0;
  z-index: 2;
}
header #navbar {
  background-color: #0c1315;
  width: 100%;
  height: 77.7px;
  display: flex;
  align-items: center;
}
header #navbar .logo {
  width: 121px;
  height: 12px;
}
header #navbar .logo img {
  width: 100%;
}
header #navbar .nav-menu .menu {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  list-style: none;
  gap: 35px;
}
header #navbar .nav-menu .menu li {
  position: relative;
}
header #navbar .nav-menu .menu li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}
header #navbar .nav-menu .menu li a i {
  transition: 0.3s all;
  color: #fff;
  font-size: 5px;
  position: absolute;
  opacity: 0;
  top: 50%;
}
header #navbar .nav-menu .menu li a:hover i {
  opacity: 1;
  transform: translateX(-5px);
}
header #navbar .nav-menu .menu li a:hover {
  transform: translateX(5px);
}
header #navbar .icons {
  color: #fff;
  display: flex;
  justify-content: end;
  font-size: 17.33px;
  align-items: center;
  gap: 26px;
  cursor: pointer;
}

footer {
  background-color: #0B1112;
}
footer .logo-gold {
  width: 121px;
  height: 12px;
}
footer .logo-gold img {
  width: 100%;
  height: 100%;
}
footer .widget p {
  margin: 35px 0;
  color: #a6a6a6;
  font-size: 18px;
  width: 105%;
  font-family: "Times New Roman", Times, serif;
}
footer .content a {
  text-decoration: none;
  color: rgb(191, 163, 124);
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
footer .nav-menu h5 {
  color: #fff;
}
footer .nav-menu .footer-menu ul {
  padding: 0;
  list-style: none;
}
footer .nav-menu .footer-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
footer .nav-menu .footer-menu-2 ul {
  padding: 0;
  list-style: none;
}
footer .nav-menu .footer-menu-2 ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
footer .footer-bottom-area {
  border-top: 1px solid #2d363e;
  margin-top: 5rem;
  padding: 20px;
}
footer .footer-bottom-area .content {
  font-size: 14px;
  color: #fff;
}

#slider .slider .slider-img {
  width: 100%;
  height: 100%;
}
#slider .slider .slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#car-rez {
  background-color: #141A1C;
  height: 1770px;
}
#car-rez .title h2 {
  color: #fff;
  font-weight: 400;
  font-size: 42px;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.30952em;
  word-wrap: break-word;
  margin-top: 7rem;
}
#car-rez .widget p {
  margin-top: 7rem;
  color: #A6A6A6;
  margin-left: 80px;
}
#car-rez .call-center {
  display: flex;
  align-items: center;
}
#car-rez .call-center .earphone {
  width: 45px;
  height: 50px;
  margin-left: 80px;
  margin-right: 19px;
}
#car-rez .call-center .earphone img {
  width: 100%;
}
#car-rez .call-center .call-number a {
  text-decoration: none;
  color: #bfa37c;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#car-rez .car-img {
  width: 416.66px;
  height: 573.4px;
  margin-top: 5rem;
}
#car-rez .car-img img {
  width: 100%;
}
#car-rez .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#car-rez .content h5 {
  color: #fff;
  font-size: 22px;
}

#comfort {
  background-color: #0B1112;
  display: flex;
  justify-content: flex-end;
}
#comfort .title h2 {
  font-size: 42px;
  padding-top: 5rem;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}
#comfort .subtitle span {
  color: #bfa37c;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
#comfort .line {
  border: 0.25px solid #404040;
  border-color: #262D33;
  border-bottom-width: 1px;
  margin: 15px 0;
}
#comfort .widget {
  padding: 0% 0% 0% 46.5%;
}
#comfort .widget h5 {
  font-size: 22px;
  margin: 13px 0;
}
#comfort .widget p {
  color: #A6A6A6;
  margin-bottom: 60px;
}

#guarantee {
  background-color: #141A1C;
  height: 660px;
}
#guarantee .widget {
  margin-top: 7rem;
}
#guarantee .widget h3 {
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.34286em;
  font-family: "Times New Roman", Times, serif;
}
#guarantee .widget span {
  color: #bfa37c;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
#guarantee .widget p {
  margin-top: 30px;
  color: #A6A6A6;
  font-size: 18px;
  width: 86%;
}
#guarantee .car-img {
  width: 309.71px;
  height: 541.96px;
  margin: 40px 0;
}
#guarantee .car-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#fav-car .image {
  height: 644px;
}
#fav-car .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#team {
  background-color: #141A1C;
  padding-top: 5rem;
  height: 820px;
}
#team .title h2 {
  font-size: 42px;
  font-family: "Times New Roman", Times, serif;
}
#team .title span {
  color: #bfa37c;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
#team .title .line {
  border: 0.25px solid #404040;
  border-color: #262D33;
  border-bottom-width: 1px;
  margin: 15px 0;
}
#team .persons {
  padding: 0% 0% 0% 25.8%;
}
#team .persons .person-img {
  width: 305.5px;
  height: 449.44px;
  margin: 20px 0;
}
#team .persons .person-img img {
  width: 100%;
  height: 100%;
}
#team .persons .content h5 {
  font-size: 22px;
}
#team .persons .content .icon span {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #bfa37c;
  margin-left: 12px;
}

#best-possibilities {
  background-color: #0B1112;
  padding-top: 5rem;
  height: 1100px;
}
#best-possibilities .title h2 {
  color: #fff;
  font-size: 42px;
  font-family: "Times New Roman", Times, serif;
}
#best-possibilities .subtitle span {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  display: inline-flex;
  vertical-align: middle;
  flex-wrap: wrap;
  color: #bfa37c;
}
#best-possibilities .line {
  border: 0.25px solid #404040;
  border-color: #262D33;
  border-bottom-width: 1px;
  margin: 15px 0;
}
#best-possibilities .information {
  padding: 0% 0% 0% 17%;
}
#best-possibilities .information .box {
  display: flex;
  align-items: center;
  padding: 42px 0 56px 16.5%;
  border-bottom: 1px solid #262d33;
  position: relative;
}
#best-possibilities .information .box .car-img {
  position: absolute;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: center;
}
#best-possibilities .information .box .car-img img {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
#best-possibilities .information .box .title-price-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
#best-possibilities .information .box .title-price-wrapper .title h4 {
  font-size: 28px;
  color: #fff;
}
#best-possibilities .information .box .title-price-wrapper .price-info {
  display: flex;
  margin: 0;
  line-height: 1;
  justify-content: center;
  align-items: flex-end;
}
#best-possibilities .information .box .title-price-wrapper .price-info span {
  color: #a6a6a6;
}
#best-possibilities .information .box .title-price-wrapper .price-info .price-inner {
  display: flex;
  flex-direction: row-reverse;
}
#best-possibilities .information .box .title-price-wrapper .price-info .price-inner .value {
  font-size: 55px;
}
#best-possibilities .information .box .title-price-wrapper .price-info .price-inner .currency {
  font-size: 25px;
}
#best-possibilities .information .box .title-price-wrapper .price-info .price-inner span {
  color: #bfa37c;
}
#best-possibilities .information .box .title-price-wrapper .price-info .price-period {
  color: #bfa37c;
  font-size: 20px;
}
#best-possibilities .information .box .content ul {
  list-style: none;
}
#best-possibilities .information .box .content ul li {
  color: #a6a6a6;
  margin-bottom: 10px;
}
#best-possibilities .information .box .content ul li i {
  font-size: 13px;
  font-weight: 900;
  padding-right: 10px;
}

#sale {
  background-color: #0B1112;
  height: 400px;
  padding: 30px 0;
}
#sale .background-img {
  height: 330px;
  background-image: url(../../img/sale-car-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sale .background-img .title {
  margin-left: 5rem;
}
#sale .background-img .title h2 {
  font-size: 42px;
  color: #fff;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.30952em;
}/*# sourceMappingURL=home.css.map */