footer {
    background-color: #0B1112;
    // height: 400px;

    .logo-gold {
        width: 121px;
        height: 12px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .widget {
        p {
            margin: 35px 0;
            color: #a6a6a6;
            font-size: 18px;
            width: 105%;
            font-family: 'Times New Roman', Times, serif;
        }
    }

    .content {
        a {
            text-decoration: none;
            // margin: 0px 0px 0px -18px;
            color: rgb(191, 163, 124);
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: .25em;
            text-transform: uppercase;
        }
    }

    .nav-menu {

        h5 {
            color: #fff;
        }

        .footer-menu {

            ul {
                padding: 0;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 14px;
                        // line-height: 24px;
                        line-height: 40px;
                        letter-spacing: .25em;
                        text-transform: uppercase;
                    }
                }

            }
        }

        .footer-menu-2 {

            ul {
                padding: 0;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 14px;
                        // line-height: 24px;
                        line-height: 40px;
                        letter-spacing: .25em;
                        text-transform: uppercase;
                    }
                }

            }
        }
    }

    .footer-bottom-area{
        border-top: 1px solid #2d363e;
        margin-top: 5rem;
        padding: 20px;
        .content{
            font-size: 14px;
            color: #fff;
        }
    }

}